/* 
.App-logo {
  height: 40vmin;
  pointer-events: none;
} */

.ml{
  margin-left: 9%;
}
.mgl{
  margin-left: 71%;
}
.table{
  text-align: center;
}
.btn-action{ 
  vertical-align: middle;
  text-align: center;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.textcen{
  text-align: center;
}
